poetry.lock` file. This file is used to lock the dependencies of the project to a specific version. This is useful when you want to make sure that all the developers working on the project are using the same versions of the dependencies.